In [4]:
"""
날짜 : 2023/01/13
이름 : 조현길
내용 : 파이썬 데이터베이스 프로그래밍 실습
"""
import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [1]:
# Insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user3` values ('a101', '김춘추', '010-1243-0101', 12)"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Insert 완료...')

NameError: name 'pymysql' is not defined

In [2]:
# Update 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "update `user3` set "
sql += "`name`='홍길동',"
sql += "`hp`='010-1211-1010',"
sql += "`age`=22 "
sql += "where `uid`='a101'"

cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Update 완료...')

NameError: name 'pymysql' is not defined

In [3]:
# Delete 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
cur.execute("delete from `user3` where `uid`='a101'")
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...')

NameError: name 'pymysql' is not defined

In [5]:
# Select 실습
from sub.User3VO import User3VO

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
cur.execute("select * from `user3`")
conn.commit()

# 결과 데이터 생성
users = []
for row in cur.fetchall():    
    user = User3VO(row[0], row[1], row[2], row[3])
    users.append(user)   
    
# 데이터베이스 종료
conn.close()
print('Select 완료...')

# 결과출력
for user in users:
    print('----------------')
    print('아이디 :', user.uid)
    print('이름 :', user.name)
    print('휴대폰 :', user.hp)
    print('나이 :', user.age)

ModuleNotFoundError: No module named 'sub'