In [ ]:
"""
날짜 : 2023/01/04
이름 : 조현길
내용 : 파이썬 자료구조 Tuple 실습하기
"""

In [ ]:
# 튜플
data = (1, 2, 3, 4, 5)
print('data type :', type(data))
print('data[0] :', data[0])
print('data[2] :', data[2])
print('data[3] :', data[3])

cities = ('서울', '대전', '대구', '부산', '광주')
for city in cities:
    print('city :', city)

In [ ]:
# 튜플 수정, 추가, 삭제
data = 1, 2, 3, 4, 5
print('data type :', type(data))

data[0] = 7 # 튜플 데이터 수정, 추가, 삭제 안됨

data type : 
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[4], line 5
      2 data = 1, 2, 3, 4, 5
      3 print('data type :', type(data))
----> 5 data[0] = 7

TypeError: 'tuple' object does not support item assignment